---
interface Props {
  title: string;
  date: string;
  image: string;
}

const { title, date, image } = Astro.props;
---

<div class="col">
  <div class="clean-card overflow-hidden group">
    <div class="relative overflow-hidden">
      <img 
        src={image} 
        alt={title}
        title={title}
        class="w-full h-64 object-cover transition-transform duration-300 group-hover:scale-105"
      />
    </div>
    <div class="p-6">
      <div>
        <h4 class="font-bold text-xl mb-2 font-jost text-black">{title}</h4>
        <div class="flex items-center text-grey-600">
          <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
          </svg>
          <p class="text-base">{date}</p>
        </div>
      </div>
    </div>
  </div>
</div>
